* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 667px;
  background: #D5E1EF;
  font-family: "Outfit", sans-serif;
}

div.qr-code-container {
  width: 320px;
  height: 497px;
  background: white;
  border-radius: 20px;
  padding: 1rem;
}

div.qr-code-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-code-wrapper {
  width: 288px;
  height: 288px;
}
.qr-code-wrapper img {
  width: 100%;
  border-radius: 20px;
}

main {
  margin: 1rem 0;
  text-align: center;
}
main h1 {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

main p {
  margin: 0 1rem;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #7D889E;
}
footer.attribution {
  position: absolute;
  bottom: 0rem;
}